<h1>Case</h1>
<section>
    <div>
        <label>
            <span>Name</span>
            <input type="text" data-ng-model="form.value.name" />
        </label>
    <div>
    </div>
        <label>
            <span>Actors</span>
            <select multiple="multiple"
                    data-ng-model="form.value.actors" 
                    data-ng-options="a.name for a in form.actors"></select>
        </label>
    </div>
    <div>
        <button data-ng-click="form.save()">Save</button>
    </div>
</section>
