<h1>Overview</h1>

<nav>
    <ul>
        <li><a href="#" data-ng-href="#/case/create">Add Case</a></li>
        <li><a href="#" data-ng-href="#/actor/create">Add Actor</a></li>
    </ul>
</nav>

<table>
    <caption>Actor to Actor</caption>
    <thead>
        <tr>
            <td></td>
            <th data-ng-repeat="(j, parent) in overview.actors">
                <a href="#" data-ng-href="#/actor/edit/{{j}}">{{parent.name}}</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="(i, child) in overview.actors">
            <th>
                <a href="#" data-ng-href="#/actor/edit/{{i}}">{{child.name}}</a>
            </th>
            <td data-ng-repeat="(j, parent) in overview.actors"
                data-ng-click="overview.toggleActorToActor(parent, child)">
                {{overview.cellActorToActor(parent, child) | check}}
            </td>
        </tr>
    </tbody>
</table>

<table>
    <caption>Case to Actor</caption>
    <thead>
        <tr>
            <td></td>
            <th data-ng-repeat="(j, actor) in overview.actors">
                <a href="#" data-ng-href="#/actor/edit/{{j}}">{{actor.name}}</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="(i, case) in overview.cases">
            <th>
                <a href="#" data-ng-href="#/case/edit/{{i}}">{{case.name}}</a>
            </th>
            <td data-ng-repeat="actor in overview.actors"
                data-ng-click="overview.toggleActorToCase(case, actor)">
                {{overview.cellCaseToActor(case, actor) | check}}
            </td>
        </tr>
    </tbody>
</table>

<table>
    <caption>Case to Case</caption>
    <thead>
        <tr>
            <td></td>
            <th data-ng-repeat="(j, parent) in overview.cases">
                <a href="#" data-ng-href="#/case/edit/{{j}}">{{parent.name}}</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="(i, child) in overview.cases">
            <th>
                <a href="#" data-ng-href="#/case/edit/{{i}}">{{child.name}}</a>
            </th>
            <td data-ng-repeat="(j, parent) in overview.cases"
                data-ng-click="overview.toggleCaseToCase(parent, child)">
                {{overview.cellCaseToCase(parent, child)}}
            </td>
        </tr>
    </tbody>
</table>

<section>
    <section>
        
    </section>
</section>

<img src="#" data-ng-src="{{overview.image()}}" />

<section>
    <div>
        <label>
            <span>Image Source</span>
            <textarea>{{overview.image()}}</textarea>
        </label>
    </div>
    <div>
        <label>
            <span>Database JSON</span>
            <textarea>{{overview.database}}</textarea>
        </label>
    </div>
</section>
